.index_body {
  width: 100%;
  height: 600px;
}

.index_head {
  width: 100%;
  height: 150px;
}

.team {
  width: 100%;
  height: 800px;
}

.title {
  padding-top: 50px;
  padding-left: 20px;
  font-size: 300%;
  color: white;
  position: relative;
  overflow: hidden;
}

.t2_bg {
  background: url("../img/t2/bg2.jpg");
  width: 100%;
  height: 5400px;
  background-size: cover;
}

.t3_bg {
  background: url("../img/t2/bg2.jpg");
  width: 100%;
  height: 6900px;
  background-size: cover;
}

.t3_bg-2 {
  background: url("../img/t2/bg2.jpg");
  width: 100%;
  height: 3600px;
  background-size: cover;
}

.t1_bg {
  background: url("../img/t3/bg.jpg");
  width: 100%;
  height: 5400px;
  background-size: cover;
}

.team_div {
  float: left;
  font-size: 300%;
  padding-top: 180px;
  padding-left: 75px;
}

.picture {
  width: 100%;
  padding-top: 50%;
  overflow: hidden;
}

.idea_title {
  margin-left: 10%;
  font-size: 400%;
  margin-top: 370px;
  position: absolute;
}

.idea {
  margin-top: 400px;
  font-size: 120%;
  margin-left: 25%;
  margin-right: 8%;
  position: absolute;
}

.team_img {
  float: left;
  margin-left: 7%;
  margin-right: 5%;
  margin-top: 100px;
  border-radius: 15px;
}

.title_img {
  width: 100%;
  height: 150px;
  position: absolute;
  -webkit-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
}

.head_image {
  float: right;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.block {
  margin-left: 5%;
  margin-right: 3%;
}

.top_block {
  width: 24%;
  height: 220px;
  margin-top: 100px;
  float: left;
  border-color: rgba(255, 255, 255, .75);
  border-width: 3px;
  border-style: solid;
  border-radius: 25px;
}

.index_image {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.index_text {
  text-align: center;
  margin-top: 10px;
  font-size: 250%;
  color: white;
}

.content_block {
  width: 20%;
  height: 500px;
  overflow: hidden;
  position: relative;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 15px;
  float: left;
}

.content_image {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-left: 5%;
}

.content_text {
  font-size: 200%;
  float: top;
  padding-top: 10px;
  text-align: center;
  height: 75px;
  color: white;
}

.content_p {
  font-size: 200%;
  text-align: center;
  float: top;
  color: white;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
}

.content_bottom_text {
  font-size: 300%;
  text-align: center;
}

.candy_index {
  width: 100%;
  height: 800px;
  position: absolute;
}

.top_bar {
  width: 100%;
  height: 100px;
  background: linear-gradient(120deg, #8fd3f4 0%, #84fad0 100%);
  opacity: 0.6;
}

.bar {
  width: 25%;
  height: 50px;
  margin: 0 auto;
  padding-top: 14px;
  background-color: rgb(153, 218, 236);
  border-radius: 20px;
}

.bar span {
  padding-left: 8%;
  text-align: center;
}

#treat2 {
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.5);
}

.treat_title {
  font-size: 200%;
  margin-left: 10%;
  width: 50%;
  height: 50px;
  border-radius: 5px;
}

.treat_content {
  font-size: 120%;
  margin-left: 15%;
}

#neiron li {
  margin-left: 3%;
}

.treat1_p1 {
  font-size: 200%;
  margin-left: 32%;
  color: black;
}

.treat1_p2 {
  font-size: 200%;
  margin-left: 5%;
  color: black;
}

.treat1_p3 {
  font-size: 200%;
  margin-left: 5%;
  color: black;
}